<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.jpetstore.dao.mybatis.mapper.OrderMapper">

  <cache />

  <select id="getOrder" resultType="Order">
    select
      BILLADDR AS billAddress,
      BILLTOFIRSTNAME,
      BILLTOLASTNAME,
      SHIPADDR AS shipAddress,
      SHIPTOFIRSTNAME,
      SHIPTOLASTNAME,
      CARDTYPE,
      COURIER,
      CREDITCARD,
      EXPRDATE AS expiryDate,
      LOCALE,
      ORDERDATE,
      ORDERS.ORDERID,
      TOTALPRICE,
      USERID AS username,
      STATUS
    FROM ORDERS, ORDERSTATUS
    WHERE ORDERS.ORDERID = #{value}
      AND ORDERS.ORDERID = ORDERSTATUS.ORDERID
  </select>

  <select id="getOrdersByUsername" resultType="Order">
    SELECT
      BILLADDR AS billAddress,
      BILLTOFIRSTNAME,
      BILLTOLASTNAME,
      SHIPADDR AS shipAddress,
      SHIPTOFIRSTNAME,
      SHIPTOLASTNAME,
      CARDTYPE,
      COURIER,
      CREDITCARD,
      EXPRDATE AS expiryDate,
      LOCALE,
      ORDERDATE,
      ORDERS.ORDERID,
      TOTALPRICE,
      USERID AS username,
      STATUS
    FROM ORDERS, ORDERSTATUS
    WHERE ORDERS.USERID = #{value}
      AND ORDERS.ORDERID = ORDERSTATUS.ORDERID
    ORDER BY ORDERDATE
  </select>

  <insert id="insertOrder">
    INSERT INTO ORDERS (ORDERID, USERID, ORDERDATE, SHIPADDR, BILLADDR, COURIER, 
    TOTALPRICE, BILLTOFIRSTNAME, BILLTOLASTNAME, SHIPTOFIRSTNAME, SHIPTOLASTNAME,
      CREDITCARD, EXPRDATE, CARDTYPE, LOCALE)
    VALUES(#{orderId}, #{username}, #{orderDate}, #{shipAddress}, #{billAddress}, #{courier}, #{totalPrice}, #{billToFirstName}, #{billToLastName},
      #{shipToFirstName}, #{shipToLastName}, #{creditCard}, #{expiryDate}, #{cardType}, #{locale})
  </insert>

  <insert id="insertOrderStatus">
    INSERT INTO ORDERSTATUS (ORDERID, LINENUM, TIMESTAMP, STATUS)
    VALUES (#{orderId,jdbcType=NUMERIC}, #{orderId,jdbcType=NUMERIC}, #{orderDate,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
  
  <insert id="msSqlServerInsertOrder" useGeneratedKeys="true">
  	insert into orders (userid, orderdate, shipaddr, billaddr, courier, totalprice,
	  	billtofirstname, billtolastname, shiptofirstname, shiptolastname,
	  	creditcard, exprdate, cardtype, locale) values (#username#,
	  	#orderDate#, #shipAddress#, #billAddress#, #courier#, #totalPrice#, #billToFirstName#,
	  	#billToLastName#, #shipToFirstName#, #shipToLastName#,
	  	#creditCard#, #expiryDate#, #cardType#, #locale#); 
  	select @@identity as value
  </insert>

</mapper>